*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar css */
.navbar ul 
{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    color: black;
    height: 100px;
}

.navbar li
{
    list-style-type:none;
    padding: 1rem;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar-logo
{
    flex: 1;
    width: 35%;
}

.navbar-link:hover a {
    color: red;
}

.sideNavbar li a{
    text-decoration: none;
  }
/* Här mina fonts css */
.FontOne{
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}

/* First Section */
 .firstsection{
 background-color: white;
} 

.center{
    text-align: center;
}

.Reklam
{
    height: 250px;
    width: 690px;
    text-align: center;
}
.phoneapp{
    margin-left:25%;
    margin-right: 25%;
    margin-bottom: 10%;
}

.container{
    display: flex;
    flex-direction: row;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;

}

.grid-containerOne{
    display: grid;
    grid-template-columns: auto auto auto;

}

.grid-containerTwo{
    display: grid;
    grid-template-columns: auto auto auto;

}

.grid-item{
    padding: 10px;
    text-align: center;
}

.smallbox{
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 40px;
    background-color: whitesmoke;
    box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
}

.largebox{
    width: 840px;
    height: 300px;
    margin-top: 40px;
    padding-top: 10px;
    margin-left: 100px;
    background-color: whitesmoke;
    box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
}

.firstImg{
    margin-top: 20px;
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.pig {
    width: 100%;
}
/* Here is my animation wither hover */
  .animationOne{
    transition: transform 1s;
  }

  .animationOne:hover{
    transform: rotate(360deg);
  }

/* Here is my animation wither hover ends */
  .debitcard{
      margin: 30px 0px 0px 10px;
      width: 350px;
      height: 180px;
      background-color: goldenrod;
      box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
      border-radius: 5px;
    }

    .creditcard{
        margin-top: -185px;
        margin-right: 10px;
        width: 350px;
        height: 180px;
        background-color: #34BE82;
        box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
        float: right;
        border-radius: 5px;
     }

  .cardnumber{
    padding-top: 20px;
    margin-left: 30px;
    color: white;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.5rem;
  }

  .cardate{
    color: white;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.2rem;
    margin-right: 150px;
  }

  .usernameCard{
    color: white;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1rem;
    margin-right: 150px;
  }

.visa{
   margin-top: -40px;
    float: right;
    width: 25%;
}

.kortanvadning{
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
}

.pengarSaman{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: black;
    padding-top: 15px;
    text-align: center;
}
.FontTwo{
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color:  #316B83;
}
#progressbar{
    margin-left:90px;
     margin-top: -20px;
    background-color: gray;
    border-radius:13px;
    padding: 3px;
}

#progressbar>div {
    background-color: goldenrod;
    width: 50%;
    height: 20px;
    border-radius:10px;
}
#progressbarTwo{
    margin-left:90px ;
     margin-top: -20px;
    background-color: gray;
    border-radius:13px;
    padding: 3px;
}

#progressbarTwo>div {
    background-color: #113CFC;
    width: 50%;
    height: 20px;
    border-radius:10px;
}

.coTwo{
    padding-top: 10px;
    text-align: center;
}

.FontThree{
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color: #5C7AEA;
}
.DebitLink{
    text-decoration: none;
}
.DebitLink:hover{
    text-decoration: none;
}
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
#customers {
    margin-left:45%;
    margin-right: 45%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 150%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 5px;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;

  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    background-color: goldenrod;
    color: white;
  } 

  .reklamBox{
      width: 300px;
      height: 110%;
      margin-left: 410px;
      background-color: whitesmoke;
      box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
  }

  .reklamBox ul{ 
    list-style-type: none;
    color: blue;
    letter-spacing: 1px;
  }

  footer{
      margin-top: 50px;
      height:300px;
      width: 100%;
      background-color:goldenrod;
  }

  #footerTable {
    margin-left:10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
  }
  
  #footerTable td, #footerTable th {
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    color: white; 
  }
  
  #footerTable th {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    color: white;
    text-align: center;
  } 

  /* Kontakt formulär */
  .content-box{
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 19px 5px solid;
  }

  .left
  {
      height: 100%;
      background-image:url(img/contact.jpg);
      background-size: cover;
  }

  .right {
      padding: 25px 40px; 
  }

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0, 0);
    background-color: rgba(230,230,230, .6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;

}

.field:hover {
    background-color: rgba(0,0,0, .1);
}

.field:focus {
    background-color: #ffff;
    border: 2px solid rgba(30, 85, 250, 0.5)
}

.area {
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size:  1.1rem;
    background-color:#2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
}
.btn:hover{
    background-color: #27ae60;
}
/* Skickad.html */
.vitbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 600px;
    height: 300px;
    background-color: whitesmoke;
    box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
}


.tackh2{
    font-family: cursive;
    color: #008CBA;
    font-size: 2.5rem;
}

.svarP {
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.svarPa {
    color: white;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.svarPb{
    color: white;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.homeButton{
    background-color: white;
     border-radius: 10px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.homeButton:hover{
    background-color:#008CBA;
    color: white;
}

/* firstPage.html */
.plon{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    color: black;
}

.btn1 {
    background-color: lightblue;
    border-radius: 15px;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1rem;
   margin: 4px 2px;
   transition-duration: 0.5s;
   cursor: pointer;
}

.btn2 {
    background-color: goldenrod;
    border-radius: 15px;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1rem;
   margin: 4px 2px;
   transition-duration: 0.5s;
   cursor: pointer;
}

.otherSection{
    background-color: goldenrod;
}

.infoboxes{
    margin-bottom: 10px;
    margin-left: 80px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
}

.greyP{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    font-size: 1rem;
}

.greyPtwo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    font-size: 1.5rem;
}

.greyPtwo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    font-size: 1.1rem;
}

.redbox{
    margin-left: 80px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #E02401;
    border-radius: 10px;
}

.greenbox{
    margin-left: 80px;
    width: 300px;
    height: 300px;
    background-color: #4AA96C;
    border-radius: 10px;
}

.purplebox{
    margin-left: 80px;
    width: 300px;
    height: 300px;
    background-color: #6C5070;
    border-radius: 10px;
}

.bitocinimg{
    width: 50%;
}

.serverimg{
    width: 60%;
}

.supportPicture{
    margin-top: 20px;
    text-align: center;
    width: 80%;
}

.SupportTextone{
    margin-top: 20px;
    color: white;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
}

.SupportTextTwo{
    margin-top: 20px;
    color: white;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

.supportButton{
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1rem;
   transition-duration: 0.5s;
   cursor: pointer;
}
@media (max-width: 600px){
    .navbar ul{
       width: 100%;
    }
    .navbar-link{
        width: 100%;
        text-align: center;
    }
    .navbar-logo{
        display: flex;
        width: 100%;
        align-items: center;
        background-color: white;
        color: black;
        height: 100px;
    }
    .navbar a{
        color: black;
    }
    .Reklam
    {
    text-align: center;
    height: 250px;
    width: 250px;
    }
    .phoneapp{
    margin-left:30%;
    margin-right: 30%;
    margin-bottom: 10%;
    }

    .smallbox{
        width: 300px;
        height: 300px;
        background-color: whitesmoke;
        box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
    }
    .largebox{
        width: 360px;
        height: 420px;
        margin-top: 400px;
        margin-left: -410px;
        
    }
    .creditcard{
        margin-top: 20px;
        margin-right: 5px;
        width: 350px;
        height: 180px;
        background-color: #34BE82;
        box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
        float: right;
        border-radius: 5px;
     }
     .debitcard{
        margin-top: 20px;
        margin-left: 5px;
        width: 350px;
        height: 180px;
        background-color: goldenrod;
        box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
        border-radius: 5px;
      }
      .fixbox{
          margin-left: 100px;
      }
      .content-box{
          grid-template-columns: 1fr;
      }
      .left{
          height: 200px;
      }
      #footerTable {
        margin-left:10%;
        margin-right: 10%;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 10%;
        text-align: center;
      }
      
      #footerTable td, #footerTable th {
        padding: 10px;
        font-family: 'Merriweather', serif;
        font-size: 1.2rem;
        color: white; 
      }
      
      #footerTable th {
        padding-top: 1px;
        padding-bottom: 1px;
        text-align: left;
        color: white;
        text-align: center;
      } 
      .infoboxes{
         margin-top: 100px;
      }

      .grid-containerOne{
        display: flex;
        flex-direction: column-reverse;
      }

      .grid-containerTwo{
          text-align: center;
        display: flex;
        flex-direction: column-reverse;
      }
     .supportPicture{
         width: 100%;
     }
     .sideNavbar{
         text-align: center;
     }

     #customers {
         width: 100%;
        margin-left: 0px;
     }
     .reklamBox{
        width: 100%;
        margin-left: 0px;
     }
}